
.product-wrapper{
    margin-top: 100px;
    background-color: #fff;
    padding: 60px;
    border-radius: 10px;

    .fix-qty{
        width: 150px;
    }

    .error-color {
        color: red;
    }
}