/*font Variables*/ 
$roboto: 'Roboto', sans-serif; 
/*Color Variables*/ 
$bc: #5cb85c;
$heding: #405867; 
$pfont: #5f6771;
$break-md: 52em;

#progressbar {
    margin-bottom: 30px;
    overflow: hidden;  
    li {
        list-style-type: none;
        color: #99a2a8; 
        font-size: 9px;
        width: calc(100%/3);
        float: left;
        position: relative; 
        font: 500 13px/1 $roboto; 
        &:nth-child(2){
            &:before{
                content: "\f12f";
            }
        }
        &:nth-child(3){
            &:before{
                content: "\f457";
            }
        }
        &:before {
            content: "\f1fa";
            font: normal normal normal 30px/50px Ionicons;
            width: 50px;
            height: 50px;
            line-height: 50px;
            display: block; 
            background: #eaf0f4;
            border-radius: 50%;
            margin: 0 auto 10px auto;
        } 
        &:after {
            content: '';
            width: 100%;
            height: 10px;
            background: #eaf0f4;
            position: absolute;
            left: -50%;
            top: 21px;
            z-index: -1; 
        } 
        &:last-child{
            &:after{
                width: 150%;
            }
        }
        &.active{
            color: $bc;
            &:before, &:after{
                background: $bc;
                color: white;
            }
        }
    }
} 

.step-wrapper {
    margin-top: 80px;
    position: absolute;
    text-align: center;
    width: 100%;

    @media (min-width: $break-md) {
        width: 80%;
    }    
    .progress-container {
        width: 100%;
    }
}

.hasAction {
    cursor: pointer;
}